<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @habit.category_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @habit.name %>
</p>

<p>
  <strong>Goal:</strong>
  <%= @habit.goal %>
</p>

<p>
  <strong>Time period:</strong>
  <%= @habit.time_period %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @habit.start_date %>
</p>

<p>
  <strong>Reminders:</strong>
  <%= @habit.reminders %>
</p>

<p>
  <strong>Is bad:</strong>
  <%= @habit.is_bad %>
</p>

<p>
  <strong>Repeat:</strong>
  <%= @habit.repeat %>
</p>

<%= link_to 'Edit', edit_habit_path(@habit) %> |
<%= link_to 'Back', habits_path %>
